/* ========== FORM ========== */
form {
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

form .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

form .col-12 {
  grid-column: span 12;
}

form .col-6 {
  grid-column: span 6;
}

@media (max-width: 768px) {
  form .col-6 {
    grid-column: span 12;
  }

  form {
    padding: 24px;
  }
}

form input:not([type="checkbox"]),
form select,
form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e4e7ee;
  border-radius: 12px;
  background: #fff;
  font-size: 16px;
  transition: border-color 0.2s;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(255, 130, 0, 0.15);
}

/* ========== TYPOGRAPHY ========== */
h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--text);
  margin: 0 0 12px;
}

p {
  color: #666;
  margin: 0 0 20px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--text);
}

/* ========== PILL BUTTONS ========== */
.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#interests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;

}




.pill {
  border: 1px solid #e4e7ee;
  padding: 8px 12px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  transition: all 0.2s;
}

/* .pill input {
  display: none;
} */

.pill:hover {
  background: #f8f9ff;
}

.pill.active {
  background: #eef2ff;
  border-color: #c7d2fe;
  color: var(--primary);
}

/* ========== checkbox ========== */
.checkbox-wrapper {
  margin-top: 24px;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-wrapper .terms-label .label-text {
  margin-left: 10px;
}

.checkbox-wrapper .checkbox-svg {
  width: 30px;
  height: 30px;
}

.checkbox-wrapper .checkbox-box {
  fill: rgba(207, 205, 205, 0.425);
  stroke: #007bff;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper .checkbox-tick {
  stroke: #007bff;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper input[type="checkbox"]:checked+.terms-label .checkbox-box,
.checkbox-wrapper input[type="checkbox"]:checked+.terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}